body {
    background-color: #f5f7fa;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.titulo {
    text-align: center;
}

.formulario {
    width: 20%;
    margin: auto auto;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.botton-cad {
    text-align: center;
}

#busca {
    width: 40%;
    height: 30px;
}

.formulario label, .buscar_titulo_texto {
    font-size: 20px;
}

.formulario input {
    height: 30px;
}

#curso {
    width: 80%;
    margin-left: 2px;
}

#nome {
    width: 78%;
    margin-left: 2px;

}

#periodo {
    width: 74%;
    margin-left: 2px;
}

.buscar_titulo_texto {
    margin-left: 2px;
}

.cadastrar {
    text-align: center;
    height: 40px;
    font-size: 20px;
    background-color: #337ab7;
    border: none;
    color: white;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: auto auto;
    font-size: 22px;
}

table {
    margin-top: 20px;
    width: 100%;
}

td, th {
	padding: 0.4em;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	background-color: #e6e3e3;
}

#alterar, #excluir {
    cursor: pointer;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

#alterar, #excluir {
    background-color: #f5f7fa;
}

img {
    width: 40px;
}
