* {
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.titulo {
    text-align: center;
}

.formulario {
    width: 20%;
    display: block;
    margin: auto auto;
    align-items: center;
    justify-content: center;
    text-align: left;
    z-index: 10;
    padding: 10px;
    padding-bottom: 0px;
    background-color: #d0d4d4;
    border-radius: 2%;
}

#botton-cad {
    text-align: center;
}

#busca {
    width: 40%;
    height: 2.4em;
}

.formulario label,
.buscar_titulo_texto {
    font-size: 20px;
}

.buscar_titulo_texto {
    margin-right: 5px;
}

.formulario input {
    height: 30px;
}

.formulario select {
    height: 30px;
}

#nome {
    width: 79%;
    margin-left: 2px;
}

#curso {
    width: 80%;
    margin-left: 2px;
}

#periodo {
    width: 74%;
    margin-left: 2px;
}

.colocar_periodo {
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
}

.buscar_titulo_texto {
    margin-left: 2px;
}

#cadastrar_st,
#alterar_st {
    text-align: center;
    height: 40px;
    font-size: 20px;
    background-color: #337ab7;
    border: none;
    color: white;
    border-radius: 5px;
}

#container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    font-size: 21px;
    overflow-x: auto;
}

table {
    margin-top: 20px;
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;
    border-collapse: collapse;
	border-spacing: 0;
}

#colnome {
    width: 30%;
}

#colcurso {
    width: 23%;
}

#colperiodo {
    width: 9.5%;
}

#colfaltas {
    width: 6%;
}

#colnotaum,
#colmedia {
    width: 7%;
}

#colnotadois {
    width: 7.1%;
}

#colsituacao {
    width: 17.5%;
}

#coleditar,
#colexcluir {
    width: 90px;
}

td,
th {
    padding: 0.4em;
    margin: 0;
    border: 1px solid #d4d3d3;
    text-align: center;
}

td {
    padding: 3px;
}

th {
    background-color: #e6e3e3;
}

#alterar,
#excluir {
    cursor: pointer;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

#alterar,
#excluir {
    background-color: #f5f7fa;
}

img {
    width: 35px;
}

.colocar_notas {
    margin-bottom: 15px;
}

#notaum,
#notadois,
#faltas {
    width: 38px;
}

#sombra {
    box-shadow: 0;
    margin-top: 15px;
    margin-bottom: 25px;
}

.value {
    display: none;
}

@media screen and (max-width: 767px){
	.formulario {
        width: 80%;
    }

    #lista-nomes {
    display: block;
    position: relative;
    width: 100%;
    }

    #lista-nomes thead,
    #lista-nomes tbody,
    #lista-nomes th,
    #lista-nomes td,
    #lista-nomes tr {
    display: block;
    }

    #lista-nomes thead {
        display: none;
    }

    .value {
        display: inline;
    }

    #nome_aluno {
        background-color: #b9b7b7;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .formulario {
        width: 60%;
    }
    table {
        font-size: 10px;
    }
    img {
        width: 15px;
    }
}

@media screen and (min-width: 1210px) and (max-width: 1280px){
    .formulario {
        width: 40%;
        font-size: 12px;
    }
    table {
        font-size: 13px;
    }
}